
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <div>
        <h1>Список пользователей</h1>
        <div th:each="person : ${persons}">

            <p th:text="'Логин: ' + ${person.getLogin()}"></p>
            <p th:text="'Роль: ' + ${person.getRole().getName()}"></p>
          <!--  <p th:text="'Состояние: ' + ${person.getStatus()}"></p>-->

            <a th:href="@{/admin/product/usersList/editUser/{id}(id=${person.getId()})}">Редактировать пользователя</a>
            <a th:href="@{/admin/product/usersList/deleteUser/{id}(id=${person.getId()})}">Удалить пользователя</a>
            <hr>
        </div>
    </div>
</body>
</html>