a*{
    text-decoration-color: black;
    background: #1d61f3;
}
.d-block w-100 {
    width: 200px;

}
.forms{
      background-color: rgb(194, 255, 253);
  color: #1b27be;
  cursor: pointer;
  margin-top: 20px;
/*/  padding: 20px;*/
/*  padding-left: 50px;*/
/*  padding-right: 50px;*/
  font-size: 20px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  transition: box-shadow 0.5s ease-out;
}
#input{
    border: #1b27be;
    border-radius: 30px;
    background-color: azure;
    text-align: center;
     transition: box-shadow 1s ease-out;
     cursor: pointer;
}
.about{

    color: #1b27be;
    margin: auto;
    padding: 20px 50px;
}
.product{
      display: inline-block;
  align-items: center;
  justify-content: center;

}
. Ñontainer{
   position: relative;
  width: 540px;
  height: 480px;
  min-width: 300px;
  min-height: 400px;
  margin: 4px;
}
.form-label{
    color: #1b27be;
}
body{
  background:aquamarine;
}

section.awSlider .carousel{
  display:table;
  z-index:2;
  -moz-box-shadow: 0 0 4px #444;
	-webkit-box-shadow: 0 0 4px #444;
	box-shadow: 0 0 15px rgba(1,1,1,.5);
}

section.awSlider{
  margin:30px auto;
  padding:30px;
  position:relative;
  display:table;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section.awSlider:hover > img{
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity:1;
}

section.awSlider img{
   pointer-events: none;
}

section.awSlider > img{
  position:absolute;
  top:30px;
  z-index:1;
  transition:all .3s;
  filter: blur(1.8vw);
  -webkit-filter: blur(2vw);
  -moz-filter: blur(2vw);
  -o-filter: blur(2vw);
  -ms-filter: blur(2vw);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity:.5;
}
.carousel slide{
    position: center;
}